:root {
    color-scheme: light dark;

    --text-default: #333;
    --text-muted: #999;
    --text-primary: #3498db;
    --bg-default: #EEEEF6;
    --border-default: #CCC;
    --text-link: #007FFF;
    --border-filedrop: #007FFF;
    --border-filedrop-active: #44AAFF;

    --tile-bg: #FFF;
    --tile-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    --sort-btn-color: #666;
    --sort-btn-hover-bg: #00000008;
    --sort-btn-hover-color: #000;
    --progress-gray: #aaa;

    --dots-color: #999;
    --dots-active-color: #FFF;
    --video-color: #a46bff;
    --audio-color: #47a2f8;

    --dropdown-bg: #EEEEF6;
    --dropdown-border: #999;
    --dropdown-item-text: #333;
    --dropdown-item-hover-text:#000;
    --dropdown-item-hover-bg: #dde;

    --bulk-select-color: #b7e2ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-default: #FFF;
        --text-muted: #ccc;
        --text-primary: #3498db;
        --bg-default: #333339;
        --border-default: #444;
        --text-link: #4AB3F4;
        --border-filedrop: #41a0ff;
        --border-filedrop-active: #44AAFF;
        
        --tile-bg: #222;
        --sort-btn-color: #DDDDDD;
        --progress-gray: #777;
        --sort-btn-hover-bg: #00000008;
        --sort-btn-hover-color: #FFF;
        
        --dots-color: #ccc;
        --dots-active-color: #FFF;
        --video-color: #a46bff;
        --audio-color: #47a2f8;

        --dropdown-bg: #333;
        --dropdown-border: #666;
        --dropdown-item-text: #CCC;
        --dropdown-item-hover-text:#FFF;
        --dropdown-item-hover-bg: #444;

        --bulk-select-color: #19345c;
    }
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-default);
    color: var(--text-default);
    box-sizing: border-box;
}

#app {
    height: 100%;
}

.text-muted{
    color: var(--text-muted);
}


.context-menu {
    padding: 4px 0;
    display: none;
    border-radius: 4px;
    z-index: 5;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--dropdown-bg);
    border: 1px solid var(--dropdown-border);
    box-shadow: 0 2px 4px -1px #0003,
        0 4px 5px #00000024,
        0 1px 10px #0000001f;
    text-align: left;
}

.context-menu.active {
    display: flex;
}

.menu-item {
    color: var(--dropdown-item-text);
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
}

.checkable>.menu-item {
    padding: 6px 12px 6px 24px;
}

.menu-item>span {
    position: absolute;
    top: 4px;
    left: 8px;
}

.menu-item:hover {
    color: var(--dropdown-item-hover-text);
    background: var(--dropdown-item-hover-bg);
}



.link {
    padding: 0 8px;
    color: var(--text-link);
}
.link:hover{
    text-decoration: underline;
}
.breadcrumb-item:first-child>.link{
    padding-left: 0;
}

.breadcrumb {
    padding: 3px 0 5px 8px;
    margin: 0;
    list-style: none;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;


    font-size: 20px;
    font-weight: semibold;
}

.breadcrumb-item {
    margin-right: 5px;
    white-space: nowrap;
}

.breadcrumb-item a {
    text-decoration: none;
}

.breadcrumb-item::after {
    line-height: 16px;;
    content: '\276F';
    content: '>';
    margin-left: 5px;
}

.breadcrumb-item:last-child::after {
    content: '';
}




video{
    outline: none;
}
.video-js .vjs-control-bar {
   z-index: 10;
} 
.vjs-loading-spinner{
    pointer-events: none;
}
.touch-overlay {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.15);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 8;
    animation: fadeOut 1s ease-in-out 1 forwards;
    pointer-events: none;
    font-family: sans-serif;
}
.right-overlay {
    right: 0;
}
.left-overlay {
    left: 0;
}
.middle-overlay{
    background-color: rgba(0,0,0, 0.10);
    left: 25%;
    width: 50%;
    font-size: 6em;
    animation: quickfadeOut 0.6s ease-in-out 1 forwards;
}
.full-middle-overlay{
    background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 10%,rgba(0, 0, 0, 0.1) 30%, rgba(0, 0, 0, 0) 80%);
    left: 0;
    width: 100%;
    font-size: 6em;
    animation: quickfadeOut 0.6s ease-in-out 1 forwards;
}

.no-click{
    pointer-events: none;
}

@keyframes quickfadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}